<!DOCTYPE html>
<html>
	<head>
		<base href="{{url_for('show_index')}}" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<script type=text/javascript>
			BASE_URL = {{ pageoptions.base_url|tojson|safe }};
		</script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.0.0.min.js')}}"></script>
	</head>
	<body>
		{% block body %}{% endblock %}
		<script type="application/x-javascript" src="{{url_for('static', filename='js/jquery.form.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
	</body>
</html>