{% macro link_menu(link) %}
	<span class="menulink">
		<span class="menu" data-linkid="{{link.linkid}}">
			<a href="{{ url_for('show_link', linkid=link.linkid) }}" class="button show">Show&nbsp;details</a>
			<a href="{{url_for('do_edit_link', linkid=link.linkid)}}" class="button edit">Edit</a>
			<a href="{{url_for('show_delete_link', linkid=link.linkid)}}" class="button delete">Delete</a>
			<input class="box tag" placeholder="Add tag..." />
		</span>
	</span>
{% endmacro %}

{% macro link_listing(links, curr_user, extra_field = None, format = None) %}
	<ul class="link-list">
		{% for link in links %}
		<li>
			<a href="{{ url_for('show_linkurl', linkid=link.linkid) }}" title="{{link.url}}" data-linkid="{{link.linkid}}" class="name" target="_blank">{{link.name}}</a>
            {% if extra_field %}
				{% if format == 'date' %}
					<span class="extra">({{link[extra_field].strftime('%Y-%m-%d %I:%m %p')}})</span>
				{% else %}
					<span class="extra">({{link[extra_field]}})</span>
				{% endif %}
			{% endif %}
            {% if link.is_owner(curr_user) %}
			{{link_menu(link)}}
			{% else %}
			<a href="{{ url_for('show_link', linkid=link.linkid) }}" class="button show">
				<img src="{{url_for('static', filename="images/link.png")}}" alt="Show details" title="Show details"/>
			</a>
            {% endif %}
		</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro tag_listing(tags, show_counts = None, user_owned = False) %}
	<ul class="link-list">
		{% for tag in tags %}
		{% if user_owned %}
		{% set tag_url = url_for('do_bulk_edit', tags = tag.tag_name) %}
		{% else %}
		{% set tag_url = url_for('show_tag', name = tag.tag_name) %}
		{% endif %}
		<li>
			<a href="{{tag_url}}" class="name">{{tag.tag_name}}</a>
            {% if tag.link_count %}
				<span class="extra">({{tag.link_count}})</span>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro link_taglist(link) %}
	{% for tag in link.get_taglist() %}
		<a class="link-tag" href="{{url_for('show_tag', name = tag)}}">{{tag}}</a>
	{% endfor %}
{% endmacro %}