{% extends "layout/base.html" %}
{% block body %}
<div id="header">
	{% block header %}
	{% if not pageoptions['user_logged_in'] %}
	<h3><a href="{{url_for('show_index')}}">lnto</a></h3>
	{% endif %}
	<ul class="headerlinks">
		{% if pageoptions['user_logged_in'] %}
		<li>
			<a href="{{url_for('show_index')}}" class="link dashboard">
				<span></span>Dashboard
			</a>
		</li>
		<li>
			<a href="{{url_for('do_bulk_edit')}}" class="link showlinks">
				<span></span>Links
			</a>
		</li>
				<li>
			<a href="{{url_for('show_user_tag_list')}}" class="link showtags">
				<span></span>Tags
			</a>
		</li>
		<li class="submenu-item">
			<a href="javascript:void(0)" class="link menu-toggle menu-icon">Tools</a>
			<ul class="submenu">
				<li>
					<a href="{{url_for('do_add_link')}}" class="link addlink">
						Add link<span></span>
					</a>
				</li>
				<li>
					<a href="{{url_for('show_import')}}" class="link import" title="Import bookmarks from file">
						Import<span></span>
					</a>
				</li>
				{% if pageoptions['allow_registration'] %}
				<li>
					<a href="{{url_for('do_add_user')}}" class="link adduser">
						Create Account<span></span>
					</a>
				</li>
			{% endif %}
				{% block page_extension %}{% endblock %}
				<li><hr></li>
				<li class="bookmarklet">
					<span>Bookmarklet:</span>
					<a class="link jslink" href="{{["javascript:(function() {",
					"var desc = '', i = 0, metas = document.getElementsByTagName('meta');",
					"for (i in metas) {",
					"if (metas[i].name == 'description') {",
							"desc = metas[i].content",
						"}",
					"}",
					"window.location='", url_for('do_add_link', _external = True), "'",
					"+'?url='+encodeURIComponent(window.location)",
					"+'&redirect_to_target=1'",
					"+'&name='+encodeURIComponent(document.title)",
					"+'&description='+encodeURIComponent(desc)",
					"+'&is_public=1';",
					"})()"]|join}}">
						Add to lnto
					</a>
				</li>
				<li>
					Bookmark: <a class="link" href="{{url_for('do_add_from_url')}}">Add by URL</a>
				</li>
				<li>
					<a href="{{url_for('show_about')}}" class="link">About lnto</a>
				</li>
				<li><hr></li>
				<li>
					<a href="{{url_for('do_logout')}}" class="link logout">
						Log Out<span></span>
					</a>
				</li>
			</ul>
		{% endif %}
		{% if not pageoptions['user_logged_in'] %}
		<li>
			<a href="{{url_for('do_login')}}" class="link login">
				Login<span></span>
			</a>
		</li>
		{% endif %}
	</ul>
	{% endblock %}
</div>
{% with messages = get_flashed_messages(with_categories = True) %}
	{% if messages %}
	<div class="notifications">
		{% for category, message in messages %}
		<div class="{{category}}">
			{{message}}
		</div>
		{% endfor %}
	</div>
	{% endif %}
{% endwith %}
<div id="content">
	{% block content %}{% endblock %}
</div>
{% endblock %}
