{% extends "layout/base.html" %}
{% block body %}
<div id="header">
	{% block header %}
	<h3><a href="{{url_for('show_index')}}">lnto</a></h3>
	<ul class="headerlinks">
		{% if pageoptions['user_logged_in'] %}
		<li>
			<a href="{{url_for('show_index')}}" class="link dashboard">
				Dashboard<span></span>
			</a>
		</li>
		<li>
			<a href="{{url_for('do_bulk_edit')}}" class="link showlinks">
				Links<span></span>
			</a>
		</li>
				<li>
			<a href="{{url_for('show_user_tag_list')}}" class="link showtags">
				Tags<span></span>
			</a>
		</li>
		<li>
			<a href="{{url_for('do_add_link')}}" class="link addlink">
				Add link<span></span>
			</a>
		</li>
		<li>
			<a href="{{url_for('show_import')}}" class="link import" title="Import bookmarks from file">
				Import<span></span>
			</a>
		</li>
		{% if pageoptions['allow_registration'] %}
		<li>
			<a href="{{url_for('do_add_user')}}" class="link adduser">
				Create Account<span></span>
			</a>
		</li>
		{% endif %}
		{% endif %}
		<li>
			{% if pageoptions['user_logged_in'] %}
			<a href="{{url_for('do_logout')}}" class="link logout">
				Log Out<span></span>
			</a>
			{% else %}
			<a href="{{url_for('do_login')}}" class="link login">
				Login<span></span>
			</a>
			{% endif %}	
		</li>
		<li class="bookmarklet">
			<span>Bookmarklets:</span>
			<a class="link" href="{{["javascript:(function() {",
			"var desc = '', i = 0, metas = document.getElementsByTagName('meta');",
			"for (i in metas) {",
			"if (metas[i].name == 'description') {",
					"desc = metas[i].content",
				"}",
			"}",
			"window.location = '", pageoptions.base_url, url_for('do_add_link'), "'",
			"+ '?url=' + encodeURIComponent(window.location)",
			"+ '&redirect_to_target=1'",
			"+ '&name=' + encodeURIComponent(document.title)",
			"+ '&description=' + encodeURIComponent(desc);",
			"})()"]|join}}">
				Add to lnto
			</a>
		</li>
	</ul>
	{% endblock %}
</div>
<div id="content">
	{% block content %}{% endblock %}
</div>
<div id="sidebar">
	{% block sidebar %}{% endblock %}
</div>
{% endblock %}