{% extends "layout/base.html" %}
{% block body %}
<div id="header">
	{% block header %}
	<h3><a href="{{url_for('show_index')}}">lnto</a></h3>
	<ul>
		<li>
			<a href="{{url_for('show_index')}}" class="link showlinks">
				Show links<span></span>
			</a>
		</li>
		<li>
			<a href="{{url_for('do_add_link')}}" class="link addlink">
				Add link<span></span>
			</a>
		</li>
		<li>
			<a href="{{url_for('do_add_user')}}" class="link adduser">
				Create Account<span></span>
			</a>
		</li>
	</ul>
	{% endblock %}
</div>
<div id="content">
	{% block content %}{% endblock %}
</div>
<div id="sidebar">
	{% block sidebar %}{% endblock %}
</div>
{% endblock %}