/* Everything */
html {
	font-family: helvetica, sans-serif;
	font-size: 12pt;
}

html,
body {
	background-color: #f5f5f5;
	padding: 0;
	margin: 0;
}

#content {
	margin: 1em;
}

/* Header */
#header {
	background-color: #e5e5e5;
	border-bottom: 1px solid #a5a5a5;
	box-shadow: 3px 3px 3px #d3d3d3;
	position: relative;
}

#header h3,
#header ul,
#header ul li {
	display: inline-block;
}

#header h3 {
	width: 50px;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.5em;
}

#header ul li {
	min-width: 25px;
	font-size: 0.8em;
	margin-left: 5px;
}

#header .link {
	text-decoration: none;
}

#header .link:hover {
	text-decoration: underline;
}

#header .link span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

#header .bookmarklet {
	margin-left: 3em;
}

.bookmarklet-text {
	display: inline-block;
	position: relative;
}

/* link-images */

#header .link span {
	margin-left: 0.3em;
	vertical-align: bottom;
}

#header .link.dashboard span {
	background-image: url(../images/house.png);
}

#header .link.showlinks span {
	background-image: url(../images/link.png);
}

#header .link.bulkedit span {
	background-image: url(../images/page_edit.png);
}

#header .link.showtags span {
	background-image: url(../images/tag_blue.png);
}

#header .link.addlink span {
	background-image: url(../images/link_add.png);
}

#header .link.adduser span {
	background-image: url(../images/user_add.png);
}

#header .link.import span {
	background-image: url(../images/book_add.png);
}

#header .link.logout span {
	background-image: url(../images/door_out.png);
}

#header .link.login span {
	background-image: url(../images/door_in.png);
}

/* Login page */
.login-form {
    padding: 15px;
    border: thin solid #c9c9c9;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 300px;
}

.login-form .row {
    margin: 5px;
}

.login-form .row label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.login-form .row.buttons {
    text-align: center;
}

/* Link listing */
.link-list a {
	text-decoration: none;
}

.link-list a:hover {
	text-decoration: underline;
}
/*
.link-list a.button {
	opacity: 0.5;	
}
*/
.link-list a.button:hover {
	opacity: 1;
	text-decoration: none;
}

.link-list .extra {
	font-size: 80%;
	color: #a7a7a7;
}

ul.link-list {
	list-style: none;
	padding-left: 0;
}

.link-list .menulink {
	text-decoration: none;
	position: relative;
	opacity: 0.7;
}

.link-list .menulink:hover {
	opacity: 1;
}

.link-list .menulink .menu {
	display: none;
	position: absolute;
	z-index: 1;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #c7c7c7;
	padding: 8px;
	top: 0;
	left: 0;
}

.link-list .menulink .menu .button {
	display: block;
}

.link-list .menulink .menu .button:hover {
	color: #f00;
}

.link-list .menulink.showit .menu {
	display: block;
}

.fullpage-list li {
	border-radius: 4px;
}

.fullpage-list li:hover {
	background-color: #fff;
}

.privacy {
	font-size:0.8em;
	color: #555;
}

.link-tag {
	font-size:0.8em;
}
	
/* Add links */
#add-link-form {
	width: 365px;
	margin: 20px auto 0 auto;
}

#add-link-form > div {
	margin-bottom: 10px;
}

#add-link-form label {
	display: inline-block;
	width: 100px;
	text-align: right;
	vertical-align: top;
}

#add-link-form input,
#add-link-form textarea {
	display: inline-block;
	margin-left: 5px;
	width: 250px;
}

#add-link-form input[type="checkbox"] {
	width: auto;
}

#add-link-form .buttons {
	text-align: right;
}

/* User dashboard */
.linkpanel {
	padding: 10px;
	min-width: 250px;
	width: 29%;
	margin: 1%;
	border: 1px solid #000;
	border-radius: 5px;
	float: left;
	min-height: 150px;
	background-color: #fff;
	box-shadow: 4px 4px 4px #d5d5d5;
}

.linkpanel .link-list {
	margin: 4px;
}

.linkpanel .header {
	margin: -10px -10px 0 -10px;
	padding: 6px;
	background-color: #c5c5c5;
	font-size: 1em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

/* Bulk editor */
.bulk-editor ul li {
	list-style-type: none;
}

#toggle-controls {
	font-size: 80%;
	text-decoration: none;
}

#toggle-controls:hover {
	text-decoration: underline;
}

.controls .edit-panel,
.filters .filter-panel {
	display: inline-block;
	margin-right: 3em;
}

/* Header extensions */

#header li.modules {
	position: absolute;
	top: 30%;
	right: 0;
}

