{% extends "layout/main.html" %}
{% block title %}Add a link{% endblock %}
{% block content %}
<div>
	<form action="{{ url_for('do_add_link') }}" method="post">
		<div>
			<label for="name">Title: </label>
			<input type="text" id="name" name="name" value="{{link.name}}" />
		</div>
		<div>
			<label for="url">Link: </label>
			<input type="text" id="url" name="url" value="{{link.url}}" />
		</div>
		<div>
			<label for="shortname">Short name :</label>
			<input type="text" id="shortname" name="shortname" value="{{link.shortname}}" />
		</div>
		<div>
			<label for="description">Description:</label>
			<textarea type="text" id="description" name="description"/>{{link.name}}</textarea>
		</div>
		{% if errors %}
		<div class="error">
			{% for err in errors %}
			{{err}}{% if len(errors) > 1 %}<br/>{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<div>
			<button>Submit</button>
		</div>
	</form>
</div>
{% endblock %}