{% extends "layout/main.html" %}
{% import "layout/macros.html" as macros %} 
{% block title %}Change password{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('change_password') }}">
    <p>Change your account password:</p>
	<div>
        {{form.new_password.label}}
        {{form.new_password()}}
	</div>
    {{ macros.show_field_error(form.new_password) }}
	<div>
        {{form.confirm.label}}
        {{form.confirm()}}
	</div>
    {{ macros.show_field_error(form.confirm) }}
	<div>
		<button>Change Password</button>
	</div>
</form>
{% endblock %}
