{% extends "layout/main.html" %}
{% block title %}{{page_title|default('Link index')}}{% endblock %}
{% block content %}
<div>
	{% block content_title %}
	<h3>{{section_title|default('Links')}}</h3>	
	{% endblock %}
	<ul class="link-list">
		{% for link in links %}
		<li>
			<a href="{{ url_for('show_linkurl', linkid=link.linkid) }}" class="name">{{link.name}}</a>
			<a href="{{ url_for('show_link', linkid=link.linkid) }}" class="button show">
				<img src="{{url_for('static', filename="images/link.png")}}" alt="Show details" title="Show details"/>
			</a>
			<a href="{{url_for('do_edit_link', linkid=link.linkid)}}" class="button edit">
				<img src="{{url_for('static', filename="images/link_edit.png")}}" alt="Edit" title="Edit link"/>
			</a>
			<a href="{{url_for('do_delete_link', linkid=link.linkid)}}" class="button delete">
				<img src="{{url_for('static', filename="images/link_delete.png")}}" alt="Edit" title="Edit link"/>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}