{% extends "layout/main.html" %}
{% block title %}Import Bookmarks{% endblock %}
{% block content %}
{% if results %}
<div class="results">
    Imported {{results.links|count}} links
    and {{results.folders|count}} folders.
    Found {{results.duplicates|count}} duplicate links.
    {% if results.errors %}
    <div class="errors">
        Found {{results.errors|count}} errors:
        <ul>
        {% for err in results.errors %}
            <li>{{err.name}} - {{err.url}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endif %}
<form id="import-form" method="post" enctype="multipart/form-data" action="{{url_for('show_import')}}">
    <div class="format">
        Format: <label>HTML export (Opera/Firefox/Chrome)<input type="radio" name="importtype" checked="checked" value="htmlexport" /></label>
    </div>
    <div class="upload">
        <label>Upload file: <input type="file" name="bookmarkfile"/></label>
        <br />
        <input type="submit" value="Import File"/>
    </div>
    <div class="paste">
        <label for="importtext">Or paste the file content here:</label>
        <br />
        <textarea rows="20" cols="80" id="importtext" name="importtext">{{import_file}}</textarea>
        <br />
        <input type="submit" value="Import" />
    </div>
</form>
{% endblock %}