{% extends "layout/main.html" %}
{% block title %}Add link{% endblock %}
{% block content %}
<div>
	<form id="add-link-form" action="{{options.post_view}}" method="post">
		<div>
			<label for="url">Link: </label>
			<input type="text" placeholder="Type of paste URL" id="url" name="url" value="{{link.url}}" autofocus />
		</div>
		<div>
			<label for="name">Title: </label>
			<input type="text" placeholder="Link title (auto-fetched)" id="name" name="name" value="{{link.name}}" />
		</div>
		<div>
			<label for="description">Description:</label>
			<textarea placeholder="Link description (auto-fetched)" id="description" name="description" rows="4" cols="40"/>{{link.description}}</textarea>
		</div>
		<div>
			<label for="shortname">Short name: </label>
			<input type="text" placeholder="(Optional) A unique short name to access this URL"id="shortname" name="shortname" value="{{link.shortname|default('', true)}}" />
		</div>
		<div>
			<label for="tags">Tags:</label>
			<input type="text" placeholder="Comma-separated list of tags" id="tags" name="tags" value="{{link.get_taglist()|join(', ')}}" />
		</div>
		<div class="tag-select">
			<select class="tag-picker">
				<option>Add tag:</option>
				{% for tag in tags %}
				<option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="checkbox">
			<input type="checkbox" id="is_public" name="is_public" value="1" {% if link.is_public %}checked="checked"{% endif %} />
			<label for="is_public">Is public: </label>
		</div>
		{% if errors %}
		<div class="error">
			{% for err in errors %}
			{{err}}<br />
			{% endfor %}
		</div>
		{% endif %}
		<div class="buttons">
			<button>{{options.button_label}}</button>
		</div>
		<input type="hidden" name="referer" value="{{pageoptions.referer}}" />
		<input type="hidden" name="redirect_to_target" value="{{options.redirect_to_target}}" />
	</form>
</div>
{% endblock %}