{% extends "layout/main.html" %}
{% block title %}Add a link{% endblock %}
{% block content %}
<div>
	<form id="add-link-form" action="{{options.post_view}}" method="post">
		<div>
			<label for="name">Title: </label>
			<input type="text" id="name" name="name" value="{{link.name}}" />
		</div>
		<div>
			<label for="url">Link: </label>
			<input type="text" id="url" name="url" value="{{link.url}}" />
		</div>
		<div>
			<label for="shortname">Short name: </label>
			<input type="text" id="shortname" name="shortname" value="{{link.shortname|default('', true)}}" />
		</div>
		<div>
			<label for="description">Description:</label>
			<textarea type="text" id="description" name="description"/>{{link.description}}</textarea>
		</div>
		<div>
			<label for="tags">Tags:</label>
			<input type="text" id="tags" name="tags" value="{{link.get_taglist()|join(', ')}}" />
		</div>
		<div>
			<label for="public">Is public: </label>
			<input type="checkbox" id="is_public" name="is_public" value="1" checked="{% if link.is_public %}{% else %}checked{% endif %}" />
		</div>
		{% if errors %}
		<div class="error">
			{% for err in errors %}
			{{err}}<br />
			{% endfor %}
		</div>
		{% endif %}
		<div class="buttons">
			<button>{{options.button_label}}</button>
		</div>
		<input type="hidden" name="referer" value="{{pageoptions.referer}}" />
	</form>
</div>
{% endblock %}