{% if not pageoptions.standalone %}
	{% extends "layout/main.html" %}
{% else %}
	{% extends "layout/base.html" %}
{% endif %}
{% import "layout/macros.html" as macros %} 
{% block title %}Add link{% endblock %}
{% block content %}
<div>
	<form id="add-link-form" action="{{options.post_view}}" method="post">
		<div>
            {{form.url.label}}
            {{form.url}}
            {{ macros.show_field_error(form.url) }}
		</div>
		<div>
            {{form.name.label}}
            {{form.name}}
            {{ macros.show_field_error(form.name) }}
		</div>
		<div>
            {{form.description.label}}
            {{form.description}}
            {{ macros.show_field_error(form.description) }}
		</div>
		<div>
            {{form.shortname.label}}
            {{form.shortname}}
            {{ macros.show_field_error(form.shortname) }}
		</div>
		<div>
            {{form.tags_string.label}}
            {{form.tags_string}}
            {{ macros.show_field_error(form.tags_string) }}
		</div>
		<div class="tag-select">
			<select class="tag-picker">
				<option>Add tag:</option>
				{% for tag in tags %}
				<option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="checkbox">
            {{form.is_public}}
            {{form.is_public.label}}
		</div>
		<div class="buttons">
			<button>{{options.button_label}}</button>
		</div>
        {{form.referer}}
        {{form.csrf_token}}
        {{form.redirect_to_target}}
	</form>
</div>
{% endblock %}
