{% extends "layout/main.html" %}
{% import 'layout/macros.html' as macros %}
{% block title %}{{page_title|default('Bulk link editor')}}{% endblock %}
{% block content %}
<div class="bulk-editor">
	{% block content_title %}
	<h3>{{section_title}}</h3>	
	{% endblock %}
	<div class="filters">
		<form class="filter-panel filter-tag" method="get" action="{{url_for('do_bulk_edit')}}">
			<label>Filter by tag:
				<select id="tag-select" name="tag_select">
					<option value="">All</option>
					{% for t in tags %}
					<option value="{{t.tag_name}}"{% if (t.tag_name == url_tags) %}selected="selected"{% endif %}>{{t.tag_name}}</option>
					{% endfor %}
				</select>
			</label>
			<input type="submit" name="show_tag" value="Show"/>
		</form>
	</div>
    <form method="post" action="{{url_for('do_bulk_edit', tags = url_tags)}}">
		<div class="controls">
			<div class="edit-panel add-tag">
				<label>Add tag: <input name="tag_text" type="text"/></label>
				<input type="submit" name="tag_submit" value="Add"/>
			</div>
			<div class="edit-panel edit-privacy">
				<label>Privacy: 
					<select name="set_privacy">
						<option value="private">Private</option>
						<option value="public">Public</option>
					</select>
				</label>
				<input type="submit" name="privacy_submit" value="Set"/>
			</div>
		</div>
		<ul class="fullpage-list">
			{% for l in links %}
			<li class="link-list">
				<input type="checkbox" class="bulk-select" name="linkids" id="linkid-{{l.linkid}}" value="{{l.linkid}}"/>
				<a href="{{ url_for('show_linkurl', linkid = l.linkid) }}" title="{{l.url}}" data-linkid="{{l.linkid}}" class="name">{{l.name}}</a>
				{{macros.link_menu(l)}}
				<span class="privacy">{% if l.is_public %}Public{% else %}Private{% endif %}</span>
				{{macros.link_taglist(l)}}
			</li>
			{% endfor %}
		</ul>
	</form>
</div>
{% endblock %}