{% extends "layout/base.html" %}
{% block body %}
<form method="post" action="{{ url_for('do_login') }}">
	<div>
		<label for="username">Username</label>
		<input type="text" name="username" id="username" value="{{request.form['username']}}" />
	</div>
	<div>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" />
	</div>
	{% if error %}
	<div class="error">{{error}}</div>
	{% endif %}
	<div>
		<button>Login</button>
	</div>
</form>
{% endblock %}