{% extends "layout/base.html" %}
{% block body %}
<div class="login-form">
    <form method="post" action="{{ url_for('do_login') }}">
        <h3>Lnto Login</h3>
        <div class="row">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" autofocus="autofocus" value="{{request.form['username']}}" />
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        {% if error %}
        <div class="error row">{{error}}</div>
        {% endif %}
        <div class="row buttons">
            <button>Login</button>
        </div>
        <input type="hidden" name="referer" value="{{pageoptions.referer}}" />
    </form>
</div>
{% endblock %}