{% extends "layout/main.html" %}
{% block title %}{{title|default('Add dashboard module')}}{% endblock %}
{% block content %}
<h3>Module Settings</h3>
<form method="post" action="{{post_view}}">
    {% if module.has_config %}
        <input type="hidden" name="module_type" value="{{module.typeid}}"
        {% include module.get_config_template() %}
        <input type="submit" value="Save" />
    {% else %}
        <p>There are no configuration options for this module.</p>
    {% endif %}
</form>
{% endblock %}